* {
    color: #eceff4;
    border: 0;
    border-radius: 0;
    padding: 0 0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 15px;
    margin-right: 5px;
    margin-left: 5px;
    padding-bottom:2px;
   }

window#waybar {
    background:rgba (0, 0, 0, 0.65);
    border-radius: 20px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.75);
}